.subscription-banner {
    border-radius: 8px;
    margin: 8px 16px;
    ion-icon {
        font-size: 1.4em;
    }
    h3 {
        font-weight: 600;
        margin-bottom: 4px;
    }
    p {
        margin: 0;
        font-size: 0.9em;
        opacity: 0.8;
    }
    ion-button {
        --border-radius: 6px;
    }
}