<ion-header>
    <ion-toolbar>
        <ion-title>Assign Teacher to Class</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="assignTeacher()" [strong]="true" [disabled]="isLoading">
                <div class="button-content">
                    <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
                    <span *ngIf="!isLoading">
                    Assign
                </span>
                </div>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="assignmentForm" (ngSubmit)="assignTeacher()" class="class-form">
        <!-- Teacher Selection -->
        <ion-item class="form-item">
            <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>

            <div class="select-wrapper">
                <label for="Select Teacher"></label> Select Teacher
                <select formControlName="teacherId" required>
                    <option value="">Select Teacher</option>
                    @if (!isLoading) {
                        <option *ngFor="let teacher of availableTeachers" [value]="teacher.id">
                        {{ teacher.name }} ({{ teacher.phone }})
                        </option>
                    } @else {
                        <option value="" disabled>Loading teachers...</option>
                    }
                </select>
            </div>
        </ion-item>

        <!-- Class Selection -->
        <ion-item class="form-item">
            <ion-icon name="school" slot="start" class="input-icon"></ion-icon>
            <div class="select-wrapper">Select Class
                <select formControlName="classId" required>
                    <option value="">Select Class</option>
                    @if (!isLoading) {
                        <option *ngFor="let class of availableClasses" [value]="class.id">
                            {{ class.name }} ({{ class.location }})
                        </option>
                    } @else {
                        <option value="" disabled>Loading classes...</option>
                    }
                </select>
            </div>
        </ion-item>

        <!-- Hidden submit -->
        <button type="submit" style="display: none"></button>
    </form>
</ion-content>